body {
    margin: 0;
    padding: 0;
}

main{
    padding: 16px;
    margin-bottom: 1px, black;
}

footer{
    padding: 24px;
    background-color: #B4CF66;
}

img {
    height: 200px;
}

nav {
    border: 1px solid black;
    padding: 16px;
    background-color: #FF5A33;
}

.my-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.white-text {
    color: white;
}

.green-text {
    color: #44803F;
}

a {
    text-decoration: none;
}

.light-green-text {
    color: #B4CF66;
}

.grey-background{
    background-color: lightgrey;
}
